<div id="center">
	<div id="context_nav">
			<ul>
				<li><%= link_to "back to customer", @customer %> </li>
			</ul>		
			<h2>New Bid for <%= @customer.name %></h2>
	</div><!--end context_nav-->
	<% form_for [ @customer,@bid ] do |bid_form|%>
			<table id='lanes'>
				<thead>
					<th>Origin</th>
					<th>Destination</th>
					<th>Price</th>
					<th>Mode</th>					
					<th>Trailer</th>					
					<th>Volume</th>					
				</thead>
			<tbody>
			</tbody>
	</table>
			<%= add_object_link( "add lane", bid_form, Lane.prep(), 'lanes/lane', "#lanes" )%>
			<%= bid_form.label :comments%>
			<%= bid_form.text_area :comments, :size => '30x2'%>
			<br />
			<br />
			<%= bid_form.submit "add bids"%>
	<% end %>
</div><!--end center-->