<div id="center">
  <div id="context_nav">
    <h1>New Bid</h1>
  </div><!--end context_nav-->
  <% form_for [ @customer,@bid ] do |bid_form|%>
    <% @bid_form = bid_form %>
    <table id='lanes'>
      <thead>
        <th>Origin</th>
        <th>Destination</th>
        <th>Price</th>
        <th>Mode</th>					
        <th>Trailer</th>					
        <th>Volume</th>					
      </thead>
      <tbody>
      </tbody>
    </table>
    <%= bid_form.label :comments%>
    <%= bid_form.text_area :comments, :size => '30x2'%>
    <br />
    <br />
    <%= bid_form.submit "add bid"%> or 
    <%= link_to "back to <strong>#{@customer.name }</strong>", @customer %>
  <% end %>
</div><!--end center-->
<div id="right">
  <div id="new_object">
    <%= add_object_link "#{ image_tag('new_lane_button.png') }",@bid_form,Lane.prep(),"lanes/lane", "#lanes" %>

  </div>
	<p class="tip">
		If you are importing lanes from a CSV file, go ahead and add this 
		bid without adding lanes. You will be able to upload your file on the next screen.
	</p>

</div>
