<div id="center">
	<div id="context_nav">
		<h1>New Bid</h1>
	</div><!--end context_nav-->
	<% form_for [ @customer,@bid ] do |bid_form|%>
			<table id='lanes'>
				<thead>
					<th>Origin</th>
					<th>Destination</th>
					<th>Price</th>
					<th>Mode</th>					
					<th>Trailer</th>					
					<th>Volume</th>					
				</thead>
			<tbody>
			</tbody>
 	</table>
			<%= render :partial => 'lanes/lane', :locals => { :f => bid_form }, :lane => Lane.prep()%>
			<%= bid_form.label :comments%>
			<%= bid_form.text_area :comments, :size => '30x2'%>
			<br />
			<br />
			<%= bid_form.submit "add bids"%> or 
			<%= link_to "back to <strong>#{@customer.name }</strong>", @customer %>
	<% end %>
</div><!--end center-->