<div id="center">
	<ul class='form'>
	<% form_for @customer, :html => { :class => 'std_form' } do |f|%>
		
		<li>
			<%= f.label "Name"%>
			<%= f.text_field :name %>
		</li>
		
		<li>
			<%= f.label "PowerPro ID"%>
			<%= f.text_field :powerpro_id %>
		</li>

		<li>
			<%= f.submit "create"%>
		</li>

	<% end %>
	</ul>
</div><!--end center-->