<div id="center">
	<div id="context_nav">
			<ul>
				<li><%= link_to "back to customers",customers_path %> </li>
			</ul>		
			<h2>Create New Customer</h2>
	</div><!--end context_nav-->

	<% form_for @customer, :html => { :class => 'std_form' } do |f|%>
		
			<%= f.label "Name"%>
			<%= f.text_field :name %>
		
			<%= f.label "PowerPro ID"%>
			<%= f.text_field :powerpro_id %>

			<br />
			<br />
			<%= f.submit "create customer"%>

	<% end %>
</div><!--end center-->