<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title> BidStore</title>

	<% get_css( controller ).each do |sheet| %>
		<%= stylesheet_link_tag sheet %>
	<% end %>

	<% get_js.each do |js|%>
		<%= javascript_include_tag js %>
	<% end%>

</head>

<body>		 
	<div id="header">
		<%= render :partial => 'global/nav' %>
		<%= image_tag 'bidstore_logo.png', :id => 'logo'%>
		<%= render :partial => 'seekers/search' %>
	</div><!--end header-->
	<div id="container">
		<%= render :partial => 'global/flash', :locals => { :flash => flash }%>
		<%= yield  %>		
	</div><!--end container-->
</body>
</html>